
apiVersion: monitoring.coreos.com/v1beta1
kind: AlertmanagerConfig
metadata:
  name: email-config
  namespace: test-namespace
spec:
  # For documentation, refer to:
  # - Custom Resource (CR) documentation:
  #   https://docs.redhat.com/en/documentation/openshift_container_platform/latest/html/monitoring_apis/alertmanagerconfig-monitoring-coreos-com-v1beta1
  # - Prometheus "Alertmanager" documentation:
  #   https://prometheus.io/docs/alerting/latest/configuration/
  route:
    receiver: 'webhook-receiver'
    groupBy: ['alertname', 'severity']
    groupWait: 30s
    groupInterval: 5m
    repeatInterval: 4h
    matchers:
      - name: severity
        value: critical
        matchType: =
  receivers:
    - name: 'webhook-receiver'
      webhookConfigs:
        - url: 'http://debug-receiver.test-namespace.svc.cluster.local:8080'
          sendResolved: true
