
apiVersion: monitoring.coreos.com/v1beta1
kind: AlertmanagerConfig
metadata:
  name: email-config
  namespace: test-namespace
spec:
  # For documentation, refer to:
  # - Custom Resource (CR) documentation:https://docs.redhat.com/en/documentation/openshift_container_platform/latest/html/monitoring_apis/alertmanagerconfig-monitoring-coreos-com-v1beta1
  # - Prometheus "Alertmanager" documentation: https://prometheus.io/docs/alerting/latest/configuration/
  route:
    receiver: 'email-receiver'
    groupBy: ['alertname', 'severity']
    groupWait: 30s
    groupInterval: 5m
    repeatInterval: 4h
    matchers:
      - name: severity
        value: critical
        matchType: =
  receivers:
    - name: 'email-receiver'
      emailConfigs:
        - to: 'example@email.de'
          from: 'noreply@alertmanager.openshift'
          smarthost: 'smtp_no_tls:25'
          sendResolved: true
